<div class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-lewagon navbar-lewagon-white">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo1.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active" style="margin: 17px;">
            <%= link_to 'Inicio', root_path, class:"btn btn-secondary" %>
            <%= link_to 'Mis cursos', courses_path, class:"btn btn-secondary" %>
            <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </li>
          <%# <li class="nav-item">
            <%= link_to 'Ver cursos', courses_path, class: "btn btn-blue" %>
         <%#  </li> %>


          <li class="nav-item dropdown" style="margin: 15px">
            <%= image_tag "avatar.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Mis cursos", courses_path, class: "dropdown-item" %>

              <%= link_to "Cuestionario", exams_path, class: "dropdown-item" %>
              <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>


        <% else %>
          <li class="nav-item">
            <%= link_to "Iniciar sesión", new_user_session_path, class: "btn btn-outline-primary" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
