<div class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-lewagon navbar-lewagon-white">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo1.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active" style="margin: 17px;">
            <%= link_to 'Podcast', root_path, class:"btn btn-outline-dark btn-navbar3 btn-sm" %>
            <%= link_to 'Mis cursos', courses_path, class:"btn btn-outline-dark btn-navbar1 btn-sm" %>
            <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "btn btn-outline-dark btn-navbar2 btn-sm" %>

          </li>
          <%# <li class="nav-item">
            <%= link_to 'Ver cursos', courses_path, class: "btn btn-blue" %>
         <%#  </li> %>


          <li class="nav-item dropdown" style="margin: 10px">
            <%= image_tag "avatar.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>

          </li>


        <% else %>
          <li class="nav-item">
            <%= link_to "Iniciar sesión", new_user_session_path, class: "btn btn-outline-dark btn-navbar btn-sm" %>
            <a href="/users/sign_up" class="btn btn-outline-dark btn-navbar btn-sm">Regístrate</a>

          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
