<head>
  	<link rel="stylesheet" href="css/style.css">
	<title>Creativa</title>
	<meta name="description" content="Creativa Lab">
	<meta charset="utf-8">
	<script src="https://kit.fontawesome.com/cba6117f5a.js" crossorigin="anonymous"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;600;700&display=swap" rel="stylesheet">
</head>

<div class="home-banner">
  		<div class="home-banner--left" style="padding: 62px">
				<div class="home-banner--left-info" style="padding: 125px; margin: 19px">
					<h1 class="banner-title"> <strong>Acelerador de carrera para mujeres no tech</strong></h1>
					<p style="text-align: left;">
					Entrenamos en <strong>habilidades digitales</strong> para las organizaciones del futuro.
					</p>
				<a class="btn btn-light" href="/courses" style="margin: 0;"> <strong>Ver cursos</strong></a>
				</div>
  		</div>

      <div class="home-banner--right image-banner ">

      <%= image_tag "imagen1.png", class:"img1" %>
      <%= image_tag "imagen2.png", class:"img2" %>
      <%= image_tag "imagen3.png", class:"img3" %>
      <%= image_tag "figuras.png", class:"figuras" %>

      </div>
</div>

<div class="home-info1 d-flex justify-content-center">
  <div class="container-info" style="padding: 50px">
    <h4 style="padding: 90px; text-align: left;"> <strong>3</strong> de cada<strong> 10</strong> puestos en liderazgo y tecnología son ocupados por mujeres en Latinoamérica
    <br>
    <br>
    "Cambiemos esas cifras🤍"</h4>
  </div>

  <div class="container" style="padding: 100px; position: relative; left: 100px">
    <%= image_tag "tierra.png", class:"imgmundo" %>
  </div>
    <%= image_tag "cursivas.png", class:"cursiva" %>
</div>

<div class="home-info2 d-flex">
  		<div class="container" style="position: absolute; padding: 130px; left: 30px;">
    	<h6 style="text-align: left; padding: 50px;" class="home-title">Hola🤍 somos
      <br>
      <strong>Creativa Lab</strong>
      <br>
      Somos una plataforma de tecnología que entrena
      <br>
      a mujeres creativas para potenciar habilidades tech.
      <br>
      <br>
          01 Eleva tu desarrollo profesional a un siguiente nivel.
          <br>
          02 Conviértete en una embajadora tech.</h6>
  		</div>

      <div class="container" style="">
      <%= image_tag "youtube.png", class:"img-youtube" %>
  		</div>
</div>

<div class="home-info3 d-flex">
  		<div class="container" style="padding: 150px">
        <%= image_tag "womans.png", class:"img-womans" %>
        <h6>Descubre todos los programas que tenemos para ti🤍</h6>
        <br>
          <%= image_tag "youtube.png", class:"img-youtube" %>
          <%= link_to 'Empezar', courses_path, class:"btn btn-dark" %>
  		</div>
        <%= image_tag "lineas1.png", class:"linea1" %>
        <%= image_tag "lineas1.png", class:"linea2" %>

</div>

<div class="home-info4">
  <h4 style="text-align: center;">Visita nuestro blog</h4>
  <div class="cards-home">
      <div class="card-category1" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1522199755839-a2bacb67c546?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80); border-radius: 10px;">
        Blog1
      </div>

      <div class="card-category1" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1522199794616-8a62b541f762?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80); border-radius: 10px;">
        Blog2
      </div>

      <div class="card-category1" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1519682337058-a94d519337bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80); border-radius: 10px;">
        Blog3
      </div>


  </div>

<br>
</div>



  <%# <div class="d-flex">
  </div>
 %>
