<head>
  	<link rel="stylesheet" href="css/style.css">
	<title>Creativa</title>
	<meta name="description" content="Creativa Lab">
	<meta charset="utf-8">
	<script src="https://kit.fontawesome.com/cba6117f5a.js" crossorigin="anonymous"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;600;700&display=swap" rel="stylesheet">

</head>

<div class="home-banner">
  		<div class="home-banner--left" style="padding: 62px">
				<div class="home-banner--left-info" style="padding: 125px; margin: 19px">
					<h1 class="banner-title"> <strong>Acelerador de carrera para mujeres no tech</strong></h1>
					<p style="text-align: left;">
					Entrenamos en <strong>habilidades digitales</strong> para las organizaciones del futuro.
					</p>
				<a class="btn btn-light" href="/courses" style="margin: 0;"> <strong>Ver cursos</strong></a>
				</div>
  		</div>

      <div class="home-banner--right image-banner ">
      <%= image_tag "imagen1.png", class:"img1" %>
      <%= image_tag "imagen2.png", class:"img2" %>
      <%= image_tag "imagen3.png", class:"img3" %>
      <%= image_tag "figuras.png", class:"figuras" %>

      </div>
</div>



<div class="home-info1">
<br>
<br>
<br>

    <article class="card cardinfo--1" style="background-color: #e5e2f5; height: 195px;width: 410px;text-align: right;left: 185px;">
      <div class="card__info-hover">
        <svg class="card__like" viewBox="0 0 24 24">
        <path fill="#000000" d="M12.1,18.55L12,18.65L11.89,18.55C7.14,14.24 4,11.39 4,8.5C4,6.5 5.5,5 7.5,5C9.04,5 10.54,6 11.07,7.36H12.93C13.46,6 14.96,5 16.5,5C18.5,5 20,6.5 20,8.5C20,11.39 16.86,14.24 12.1,18.55M16.5,3C14.76,3 13.09,3.81 12,5.08C10.91,3.81 9.24,3 7.5,3C4.42,3 2,5.41 2,8.5C2,12.27 5.4,15.36 10.55,20.03L12,21.35L13.45,20.03C18.6,15.36 22,12.27 22,8.5C22,5.41 19.58,3 16.5,3Z"></path>
        </svg>

      </div>


      <a href="#" class="card_link">
        <div class="card__imginfo--hover"></div>
      </a>
      <div class="card__info1">

        <h3 class="card__title"> <strong>"3</strong> de cada <strong>10</strong> puestos en liderazgo y tecnología son ocupados por mujeres en Latinoamérica"</h3>
        <span class="card__by"> World Economic Forum</a></span>
      </div>

    </article>

    <article class="card cardinfo--2" style="background-color: #fef2f2; height: 195px;width: 410px;text-align: right;left: 820px; bottom: 55px">
      <div class="card__info-hover">
        <svg class="card__like" viewBox="0 0 24 24">
        <path fill="#000000" d="M12.1,18.55L12,18.65L11.89,18.55C7.14,14.24 4,11.39 4,8.5C4,6.5 5.5,5 7.5,5C9.04,5 10.54,6 11.07,7.36H12.93C13.46,6 14.96,5 16.5,5C18.5,5 20,6.5 20,8.5C20,11.39 16.86,14.24 12.1,18.55M16.5,3C14.76,3 13.09,3.81 12,5.08C10.91,3.81 9.24,3 7.5,3C4.42,3 2,5.41 2,8.5C2,12.27 5.4,15.36 10.55,20.03L12,21.35L13.45,20.03C18.6,15.36 22,12.27 22,8.5C22,5.41 19.58,3 16.5,3Z"></path>
        </svg>

      </div>


      <a href="#" class="card_link">
        <div class="card__img--hover"></div>
      </a>
      <div class="card__info2">

        <h3 class="card__title">Cambiemos esas cifras</h3>
        <span class="card__by"> Liderazgo y habilidades digitales para creativas del futuro</a></span>
      </div>


    </article>

    <article class="card cardinfo--3" style="background-color: #e6edff; height: 195px;width: 410px;text-align: right;left: 300px; bottom: 85px">
      <div class="card__info-hover">
        <svg class="card__like" viewBox="0 0 24 24">
        <path fill="#000000" d="M12.1,18.55L12,18.65L11.89,18.55C7.14,14.24 4,11.39 4,8.5C4,6.5 5.5,5 7.5,5C9.04,5 10.54,6 11.07,7.36H12.93C13.46,6 14.96,5 16.5,5C18.5,5 20,6.5 20,8.5C20,11.39 16.86,14.24 12.1,18.55M16.5,3C14.76,3 13.09,3.81 12,5.08C10.91,3.81 9.24,3 7.5,3C4.42,3 2,5.41 2,8.5C2,12.27 5.4,15.36 10.55,20.03L12,21.35L13.45,20.03C18.6,15.36 22,12.27 22,8.5C22,5.41 19.58,3 16.5,3Z"></path>
        </svg>

      </div>


      <a href="#" class="card_link">
        <div class="card__img--hover"></div>
      </a>
      <div class="card__info3">

        <h3 class="card__title">Creamos experiencias para diseñar, crear y liderar</h3>

      </div>

    </article>



  </div>



<%# ----
 %>






<div class="home-info2 d-flex">
  		<div class="container" style="position: absolute; padding: 130px; left: 30px;">
    	<h6 style="text-align: left; padding: 50px;" class="home-title">Hola🤍 somos
      <br>
      <strong>Creativa Lab</strong>
      <br>
      Somos una plataforma de tecnología que entrena
      <br>
      a mujeres creativas para potenciar habilidades tech.
      <br>
      <br>
          01 Eleva tu desarrollo profesional a un siguiente nivel.
          <br>
          02 Conviértete en una embajadora tech.</h6>
  		</div>

      <div class="container" style="">
      <%= image_tag "youtube.png", class:"img-youtube" %>
  		</div>
</div>

<div class="home-info3 d-flex">
  		<div class="container" style="padding: 150px">
        <%= image_tag "womans.png", class:"img-womans" %>
        <h6 style="color: black;">Descubre todos los programas que tenemos para ti🤍</h6>
        <br>
          <%= image_tag "youtube.png", class:"img-youtube" %>
          <%= link_to 'Empezar', courses_path, class:"btn btn-dark" %>
  		</div>
        <%= image_tag "lineas1.png", class:"linea1" %>
        <%= image_tag "lineas1.png", class:"linea2" %>

</div>


<%# home 4 %>
<div class="title-podcast">
<br>
<br>
    <h4 style="text-align: center; color: black;"><strong>Bienvenida a nuestro Podcast de Creativa Lab 🎧</strong></i></h4>
    <h5 style="text-align: center; color: black; margin: 0px;">Disfruta esta experiencia</h5>
</div>

<div class="home-info4 d-flex">

    <article class="card card--1" style="height: 210px;margin: 93px;width: 1205px;">
      <div class="card__info-hover">
        <svg class="card__like" viewBox="0 0 24 24">
        <path fill="#000000" d="M12.1,18.55L12,18.65L11.89,18.55C7.14,14.24 4,11.39 4,8.5C4,6.5 5.5,5 7.5,5C9.04,5 10.54,6 11.07,7.36H12.93C13.46,6 14.96,5 16.5,5C18.5,5 20,6.5 20,8.5C20,11.39 16.86,14.24 12.1,18.55M16.5,3C14.76,3 13.09,3.81 12,5.08C10.91,3.81 9.24,3 7.5,3C4.42,3 2,5.41 2,8.5C2,12.27 5.4,15.36 10.55,20.03L12,21.35L13.45,20.03C18.6,15.36 22,12.27 22,8.5C22,5.41 19.58,3 16.5,3Z"></path>
        </svg>
          <div class="card__clock-info">
            <svg class="card__clock" viewBox="0 0 24 24"><path d="M12,20A7,7 0 0,1 5,13A7,7 0 0,1 12,6A7,7 0 0,1 19,13A7,7 0 0,1 12,20M19.03,7.39L20.45,5.97C20,5.46 19.55,5 19.04,4.56L17.62,6C16.07,4.74 14.12,4 12,4A9,9 0 0,0 3,13A9,9 0 0,0 12,22C17,22 21,17.97 21,13C21,10.88 20.26,8.93 19.03,7.39M11,14H13V8H11M15,1H9V3H15V1Z"></path>
            </svg><span class="card__time">50 min</span>
          </div>
      </div>


      <a href="#" class="card_link">
        <div class="card__img--hover"></div>
      </a>
      <div class="card__info">
        <span class="card__category"> Tecnología y Marketing</span>
        <h3 class="card__title">¿Cómo crear productos de gran categoría?</h3>
        <span class="card__by">por <a href="https://open.spotify.com/episode/1fT0NJ8c1w2oUyGopI0PjL?si=000830feac714177" target="_blank" class="card__author" title="author">Alexandra Zatarain</a></span>
      </div>

    </article>

    <article class="card card--2" style="height: 210px;margin: 93px;width: 1205px;">
      <div class="card__info-hover">
        <svg class="card__like" viewBox="0 0 24 24">
        <path fill="#000000" d="M12.1,18.55L12,18.65L11.89,18.55C7.14,14.24 4,11.39 4,8.5C4,6.5 5.5,5 7.5,5C9.04,5 10.54,6 11.07,7.36H12.93C13.46,6 14.96,5 16.5,5C18.5,5 20,6.5 20,8.5C20,11.39 16.86,14.24 12.1,18.55M16.5,3C14.76,3 13.09,3.81 12,5.08C10.91,3.81 9.24,3 7.5,3C4.42,3 2,5.41 2,8.5C2,12.27 5.4,15.36 10.55,20.03L12,21.35L13.45,20.03C18.6,15.36 22,12.27 22,8.5C22,5.41 19.58,3 16.5,3Z"></path>
    </svg>
          <div class="card__clock-info">
            <svg class="card__clock" viewBox="0 0 24 24"><path d="M12,20A7,7 0 0,1 5,13A7,7 0 0,1 12,6A7,7 0 0,1 19,13A7,7 0 0,1 12,20M19.03,7.39L20.45,5.97C20,5.46 19.55,5 19.04,4.56L17.62,6C16.07,4.74 14.12,4 12,4A9,9 0 0,0 3,13A9,9 0 0,0 12,22C17,22 21,17.97 21,13C21,10.88 20.26,8.93 19.03,7.39M11,14H13V8H11M15,1H9V3H15V1Z"></path>
            </svg><span class="card__time">45 min</span>
          </div>
      </div>


      <a href="#" class="card_link">
        <div class="card__img--hover"></div>
      </a>
      <div class="card__info">
        <span class="card__category"> Emprendimiento</span>
        <h3 class="card__title">¿Cómo crear una cultura organizacional con tu equipo?</h3>
        <span class="card__by">por <a href="https://open.spotify.com/episode/3CNZC1vZcaJYIEdqR3ML1z?si=c7b1dfc8612c432e" target="_blank" class="card__author" title="author">Lori García</a></span>
      </div>

    </article>

    <article class="card card--3" style="height: 210px;margin: 93px;width: 1205px;">
      <div class="card__info-hover">
        <svg class="card__like" viewBox="0 0 24 24">
        <path fill="#000000" d="M12.1,18.55L12,18.65L11.89,18.55C7.14,14.24 4,11.39 4,8.5C4,6.5 5.5,5 7.5,5C9.04,5 10.54,6 11.07,7.36H12.93C13.46,6 14.96,5 16.5,5C18.5,5 20,6.5 20,8.5C20,11.39 16.86,14.24 12.1,18.55M16.5,3C14.76,3 13.09,3.81 12,5.08C10.91,3.81 9.24,3 7.5,3C4.42,3 2,5.41 2,8.5C2,12.27 5.4,15.36 10.55,20.03L12,21.35L13.45,20.03C18.6,15.36 22,12.27 22,8.5C22,5.41 19.58,3 16.5,3Z"></path>
    </svg>
          <div class="card__clock-info">
            <svg class="card__clock" viewBox="0 0 24 24"><path d="M12,20A7,7 0 0,1 5,13A7,7 0 0,1 12,6A7,7 0 0,1 19,13A7,7 0 0,1 12,20M19.03,7.39L20.45,5.97C20,5.46 19.55,5 19.04,4.56L17.62,6C16.07,4.74 14.12,4 12,4A9,9 0 0,0 3,13A9,9 0 0,0 12,22C17,22 21,17.97 21,13C21,10.88 20.26,8.93 19.03,7.39M11,14H13V8H11M15,1H9V3H15V1Z"></path>
            </svg><span class="card__time">50 min</span>
          </div>
      </div>


      <a href="#" class="card_link">
        <div class="card__img--hover"></div>
      </a>
      <div class="card__info">
        <span class="card__category"> Liderazgo</span>
        <h3 class="card__title">¿Cuáles son los orígenes del Growth y cómo crear un estilo de liderazgo?</h3>
        <span class="card__by">por <a href="https://open.spotify.com/episode/672OUWEW3SBnxhBBcQD2ca?si=836b9d11903a4ae6" target="_blank" class="card__author" title="author">Laura Gonzales</a></span>
      </div>

    </article>



  <br>
  <br>
</div>




  <%# <div class="d-flex">
  </div>
 %>
