<head>
  	<link rel="stylesheet" href="css/style.css">
	<title>Creativa</title>
	<meta name="description" content="This is Dara´s profile">
	<meta charset="utf-8">
	<script src="https://kit.fontawesome.com/cba6117f5a.js" crossorigin="anonymous"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;600;700&display=swap" rel="stylesheet">

</head>

<div class="home-banner">
  		<div class="home-banner--left" style="padding: 62px">
				<div class="home-banner--left-info" style="padding: 125px; margin: 19px">
					<h1 class="banner-title"> <strong>Acelerador de carrera para mujeres no tech</strong></h1>
					<p>
					Entrenamos en <strong>habilidades digitales</strong> para las organizaciones del futuro.
					</p>
				<%= link_to 'Ver cursos', courses_path, class: "btn btn-blue" %>
				</div>
  		</div>

      <div class="home-banner--right image-banner ">
      <%= image_tag "imagen1.png", class:"img1" %>
      <%= image_tag "imagen2.png", class:"img2" %>
      <%= image_tag "imagen3.png", class:"img3" %>
      </div>
</div>

<div class="home-info1 d-flex">
  <div class="container" style="padding: 100px">
    <h1 style="padding: 50px">51% de mujeres en Latam ocupa puestos Junior en empresas y menos del 1% en altos cargos.</h1>
  </div>

  <div class="container" style="padding: 220px">
    <%= image_tag "tierra.png", class:"imgmundo" %>
  </div>
</div>

<div class="home-info2">
  		<div class="container" style="">
    	<h1 class="home-title">Somos una plataforma de tecnología que entrena a mujeres creativas para potenciar habilidades tech.
      <br>
      <br>
          01 Eleva tu desarrollo profesional a un siguiente nivel.
          <br>
          02 Conviértete en una embajadora tech.</h1>
  		</div>
</div>

<div class="home-info3">
  		<div class="container" style="">
    	<h1>Habilidades digitales para directivas del futuro</h1>
  		</div>
</div>

<div class="home-info3">
  		<div class="container" style="">
    	<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi debitis ab reprehenderit officia! Ducimus porro facilis dicta, quasi aliquid veritatis exercitationem nobis iusto facere, labore vitae accusantium tempora ad officiis.</h1>
  		</div>
</div>


  <%# <div class="d-flex">
  </div>
 %>
