<head>
  	<link rel="stylesheet" href="css/style.css">
	<title>Creativa</title>
	<meta name="description" content="Creativa Lab">
	<meta charset="utf-8">
	<script src="https://kit.fontawesome.com/cba6117f5a.js" crossorigin="anonymous"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;600;700&display=swap" rel="stylesheet">

</head>

<body>
  <div class="course-banner d-flex">
    <div class="banner-1">
      <div class="index-banner">
        <h1>¡Hola Usuario!</h1>
        <p>Inicia hoy aprendiendo<br> habilidades digitales para las<br> organizaciones del futuro.</p>
      </div>
<br>
<br>
      <div class="img-icons">
        <div class="card-img">
          <%= image_tag "landin.png", class:"img5" %>
          <p>Landing</p>
        </div>
        <div class="card-img">
          <%= image_tag "brand.png", class:"img5" %>
          <p>Branding</p>
        </div>
        <div class="card-img">
          <%= image_tag "design.png", class:"img5" %>
          <p>Design</p>
        </div>
      </div>
    </div>

    <div class="img-banner">
      <%= image_tag "chicab.jpg", class:"img4" %>
    </div>
  </div>

<br>
<br>
<div class="boton">
  <p><strong>Cursos</strong></p>
</div>

<br>

<div class="container">
  <div class="cards-c">
    <% @courses.each do |course| %>
      <div class="">
        <div class="cards-container">
          <% if course.photo.attached?%>
          <%= cl_image_tag course.photo.key, height: 130, width: 150, crop: :fill, styles: "object-fit: cover" %>
            <% end %>
          <div class="cards-2">
              <h3><%= course.name %></h3>
              <div class="mt-5">
                <%= link_to 'Empezar', course_path(course), class: "btn btn-primary" %>
              </div>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>
<br>

  <div class="flex-item mb-5">
    <div class="banner-2">
      <div class="last-end">
        <p>Nuestro team siempre<br>
        está listo para<br>
        ayudarte</p>
        <br>
        <p>¿Estás listo para<br>
        potenciar tus habilidades?</p>
      </div>
    </div>
    <div class="ban-2">
      <%= image_tag "fundadoras.png", class:"img7" %>
      <!-- <%= image_tag "chic.jpg", class:"img7" %> -->
    </div>
  </div>
 <br>
