
<div class='container mt-5 pt-5'>
<div class="courses-show">
  <div class="row">
      <div class="">
        <h1 style="font-size: 3.1rem;"><%= @course.name %></h1>
        <br>
        <p class="" style="margin-bottom: 2.5rem">Descripción: <%= @course.description %></p>
        <p></p>
      </div>

      <div class="col-4">
          <%= cl_image_tag @course.photo.key, width: "300" %>
      </div>
    </div>

      <div class="container">
        <%= link_to 'Ver módulos', course_details_path(@course), class: "btn btn-outline-dark" %>
        <!-- <%= link_to 'Nuevo curso', new_course_path(@course), class: "btn btn-primary" %> -->
        <%= link_to 'Volver', courses_path, class: "btn btn-outline-dark btn-detalle" %>
      </div>
</div>

</div>




          <!-- <%# <%= link_to 'Editar', edit_course_path(@course), class: "btn btn-success" %>
          <%# <%= link_to 'Eliminar', course_path(@course), class: "btn btn-primary", method: :delete %> -->
          <!-- <%# <%= link_to 'Rentar', new_course_path(@course), class: "btn btn-primary" %> -->
