<div class='container my-5'>
  <div class="d-flex">
    <div class="pb-5">
        <div class="card h-100">
          <div class="card-body">
            <h1 class="card-title"><%= @course.name %></h1>
            <%# <p class="card-text"><strong>Descripcion :</strong><%= @course.description %>
            <%# <p class="card-text"><strong>Precio por dia: </strong> s/. <%= @course.price %>
              <%# <%= link_to 'Editar', edit_course_path(@course), class: "btn btn-success" %>
              <%# <%= link_to 'Eliminar', course_path(@course), class: "btn btn-primary", method: :delete %>
              <%# <%= link_to 'Rentar', new_course_path(@course), class: "btn btn-primary" %>
              <%= link_to 'Ver módulos', course_details_path(@course), class: "btn btn-primary" %>
              <%= link_to 'Nuevo curso', new_course_path(@course), class: "btn btn-primary" %>
          </div>
        </div>
    </div>
  </div>
</div>
