<div class="container">
  <div class="exam-admi">
    <p><%= @detail.name %></p>
    <%= simple_form_for [@detail, @exam] do |f| %>
        <%= f.input :question%>
        <%= f.input :answerA%>
        <%= f.input :answerB%>
        <%= f.input :answerC%>
        <%= f.input :answer_solution%>
        <%= f.submit 'Enviar', class: 'btn btn-primary mt-2' %>
    <% end %>
  </div>
</div>
