<div class="container-modulo">
  <h2 style = "color: black; margin-bottom: 30px; "><%= @course.name %></h2>
  <div class="comentario">
    <div class="row">
      <div class = "col-2">
        <h5><%= link_to @course.details.first.name, course_detail_path(@detail.course,@detail.course.details.first), class: "btn btn-outline-dark " %></h5>
        <h5><%= link_to @course.details.second.name, course_detail_path(@detail.course,@detail.course.details.second), class: "btn btn-outline-dark " %></h5>
        <h5><%= link_to @course.details.third.name, course_detail_path(@detail.course,@detail.course.details.third), class: "btn btn-outline-dark " %></h5>
      </div>

      <div class = "col-6">
        <iframe width="580" height="440" src=<%= @detail.content %> title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class = "col-4">
        <div class="chat-container">
          <div class="chat-header">
            <h2 style="color: black;"><i class="fab fa-slack-hash"></i><strong> Comentarios</strong></h2>
          </div>
          <div class="chat-conversations overflow-auto">
            <% @detail.reviews.each do |review| %>
              <div class="message">
                <img src="https://media.istockphoto.com/illustrations/email-icon-special-blue-square-button-illustration-id827639136?k=20&m=827639136&s=612x612&w=0&h=aMH7VAx9e7f3PmhdrYJ-8Kyt9QLFsurtcGHPJJz2uek=" alt="">
                <div class="message-content">
                  <p><strong><%= review.user.name %></strong></p>
                  <p><%= review.content %></p>
                </div>
              </div>
            <% end %>
            <div class="chat-input">
                <%= simple_form_for [ @detail, @review ] do |f| %>
                  <%= f.input :content, label: "Comentar" %>
                  <%= f.submit "Enviar", class: "btn btn-outline-dark" %>
                <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style = "margin-top: 50px;", class="d-flex justify-content-between cuestionario">
    <%= link_to "Volver" , course_details_path(@course), class:"btn btn-outline-dark"%>
    <%= link_to "Cuestionario" , new_exam_answer_path(@detail.exam), class:"btn btn-outline-dark"%>
    <%# <%= link_to "Cuestionario" , new_exam_answer_path(@detail.exams.first), class:"btn btn-primary"%>
  </div>
</div>
