<br>
<div class="container">
  <h2 style = "font-family: 'Nunito'; margin: 45px; font-weight: bold; "><%= @course.name %></h2>
  <div class="comentario">
    <div class="row">
      <div class = "col-2">
        <ul class = "module" style = "list-style: none">
          <li><%= link_to @course.details.first.name, course_detail_path(@detail.course,@detail.course.details.first), class: "btn btn-success btn-large" %></li>
          <li><%= link_to @course.details.second.name, course_detail_path(@detail.course,@detail.course.details.second), class: "btn btn-success btn-large" %></li>
          <li><%= link_to @course.details.third.name, course_detail_path(@detail.course,@detail.course.details.third), class: "btn btn-success btn-large" %></li>
        </ul>
      </div>
      <div class = "col-6">
        <iframe width="560" height="400" src=<%= @detail.content %> title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class = "col-4">
        <div class="chat-container">
          <div class="chat-header">
            <h1><i class="fab fa-slack-hash"></i> Comentarios</h1>
          </div>
          <div class="chat-conversations overflow-auto">
            <% @detail.reviews.each do |review| %>
              <div class="message">
                <img src="https://kitt.lewagon.com/placeholder/users/cveneziani" alt="">
                <div class="message-content">
                  <p><strong><%= review.user.email %></strong></p>
                  <p><%= review.content %></p>
                </div>
              </div>
            <% end %>
            <div class="chat-input">
                <%= simple_form_for [ @detail, @review ] do |f| %>
                  <%= f.input :content %>
                  <%= f.submit "Submit review", class: "btn btn-primary" %>
                <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end cuestionario">
    <%= link_to "Cuestionario" , new_exam_answer_path(@detail.exams.first), class:"btn btn-primary"%>
  </div>
</div>
<br>
